{% for i in data %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td  id="{{i.id}}" >{{ i.leave_type }}</td>
    <td id="{{i.id}}"  name="date_from">{{ i.date_from }}</td>
    <td id="{{i.id}}" name="date_to">{{ i.date_to }}</td>
    <td id="{{i.id}}" name="reason">{{ i.reason }}</td>
    <td id="{{i.id}}" name="status">{{ i.get_status_display }}</td>
    <td>
        <button type="submit" class="btn btn-danger delete" id="{{i.id}}" >
            Delete
        </button>
    </td>
</tr>
{% endfor %}
